@{
    ViewData["Title"] = "AEBNL";
}

<div class="text-center">
    <img src="logo-aebnl.png">
    <h1 class="display-4">Bienvenidos</h1>
    <h2 class="display-4"> Asociación Espina Bífida de Nuevo León</h2>
    
</div>
